/* 
un fichier de style copié du premier style.css
----------
par k.so.6.dev
*/

body
{
    /*
    background-image: url("images/dessin.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right;
    background: url("images/dessin.png") fixed no-repeat top right, url("images/photo_montagne.jpg") center no-repeat fixed;

    */

}
p
{
    color: black;
    box-shadow: 6px 6px 6px black;
    text-shadow: 2px 2px 2px black;
}
a
{
    text-decoration: underline;
    color: red;
    font-style: italic;
}
a:hover /* au survol */
{
    text-shadow: 3px 3px 5px;
    /* color: pink; */
}
a:active /* au clic */
{
    background-color: green;
}
a:focus /* sélectionné */
{
    background-color: pink;
}
a:visited /* lien déjà consulté */
{
    color: purple;
}
.opac
{
    opacity: 0.3;
}
.blackground
{
    background-color: black;
    color: white;
}
.whitefont
{
    color: white;
}
.babordure
{
    background-color: rgb(200, 0, 0);
    background-color: rgba(200, 0, 0, 0.2);
    border: 1px blue solid;
}
.bord1
{
    color: white;
    border: 3px black dashed;
}
.bord2
{
    color: wheat;
    border: 12px white groove;
}
.bord3
{
    color: wheat;
    border: 6px green inset;
    background-color: rgb(4, 133, 4);
    background-color: rgba(4, 133, 4, 0.3);
    box-shadow: 6px 6px 6px black inset;
}
.bord4
{
    color: wheat;
    border: 8px orange outset;
}
.rgba
{
    background-color: rgb(0, 0, 200); /* pour vieux navigateurs s'ils ne gèrent pas le rgba */
    background-color: rgba(0, 0, 200, 0.5);
}

h1, strong
{
    color: rgb(4, 133, 4); /* stylé le forestgreen */
    opacity: 0.9;
}
em
{
    color: goldenrod;
}
.bd
{
    background: white;
}
.seyag
{
    border-left: 3px black solid; 
    border-bottom: 3px black solid; 
    border-top: 3px black solid; 
}
.seyad
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-right: 5px black double; 
    border-bottom: 5px black double; 
    border-top: 5px black double; 
}