/*
stylecv.css
utilisé pour styliser mon CV en ligne
----------
créé par k.so.6.dev le 25/06/2018
*/


h2
{
    color: blue;
}
.header
{
    color: cornflowerblue;
}
.formation
{
    color: purple;
}
.competence
{
    color: orangered;
}
.experience
{
    color: green;
}
#photo
{
    color: yellow;
}